<div class="row">
    {{#each allcar}}
    <div class="col-sm-12">
        <option value="{{_id}}">VIN:{{VIN}} || Brand:{{Brand}} || Model:{{Model}} || VehicleType:{{VehicleType}} || Timetomarket:{{Timetomarket}} || Color:{{Color}}</option>
    </div>
    {{/each}}
</div>