<section>
  <link rel="stylesheet" href="/public/css/newcar.css">
  <div class="bigtitle">
      <h1 style="text-align:center">USED CARS</h1>
      <div class="allcar-container">
      {{#each cars}}  
        {{#if Usedcar}}
        <div class="newcar-container">
          <div class="img-container" >
              <img src="/public/images/{{img}}" alt=""> 
          </div>
          <div class="info-container">
             <a href="/usedcars/{{_id}}"> {{Years}} {{Brand}} {{Model}} {{VehicleType}}</a>
             <p class="carinfo">
                Exterior: {{Exterior}}<br>
                Interior: {{Interior}}<br>
                Body: {{Style}}<br>
                Mileage: {{Mileage}}<br>
                Price: {{Price}}
            </p>
          </div>
        </div>
        {{/if}}
      {{/each}}
		</div>
  </div>
</section>  