<section>
  <link rel="stylesheet" href="/public/css/homepage.css">
  <link rel="stylesheet" href="/public/css/newcar.css">
  <div class="bigtitle">
      <h1 style="text-align:center">USED CARS</h1>
      <div class="newcar-container">
      {{#each cars}}  
        {{#unless Usedcar}}
          <p> <option value="{{_id}}">VIN:{{VIN}} || Brand:{{Brand}} || Model:{{Model}} || VehicleType:{{VehicleType}} || Timetomarket:{{Timetomarket}} || Color:{{Color}}</option></p> 
          <img src="/public/images/{{img}}">
        {{/unless}}
      {{/each}}
		</div>
  </div>
</section>