    <link rel="stylesheet" href="/public/css/private.css">
	<span class="home" style="cursor:pointer" onclick="openNav()">&#9776; Open</span>
	<div id="mySidenav" class="sidenav">
  	<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
	  		<a href="/login" >Main</a>
			<a href="/login/allcars">All Cars</a>
			<a href="/login/addcar" >Add Car</a>
			<a href="/login/delete" >Delete Car</a>
			<a href="/login/update" >Update Car</a>	
			<a href="/public/index.html" >Search Car</a>	
			<a href="/login/addoffer" >Add Offer</a>	
			<a href="/login/logout">Logout</a> 
	</div>

	<div class="user-panel">
		<h2>Logged in as: {{{user.lastname}}}</h2>
		<div class="car-container">
        {{#each cars}}  
		  <div class="newcar-container" value="{{_id}}">
          <div class="img-container" >
              <img src="/public/images/{{img}}"> 
          </div>
          <div class="info-container">
             <a href="/posts/{{_id}}"> {{Years}} {{Brand}} {{VehicleType}}</a>
             <p class="carinfo">
                Exterior: {{Exterior}}<br>
                Interior: {{Interior}}<br>
                Body: {{Style}}<br>
                Mileage: {{Mileage}}<br>
                Price: {{Price}}
            </p>
          </div>
        </div>
        {{/each}}
		</div>
	</div>
	
 <script src="/public/js/private.js"></script>
