<article>
  <header>
    <h1>{{title}}</h1>
  </header>

  <p style="color:#000;font-weight:bold;font-size:20px" >id: {{id}}</p>
  {{#if IsDelete}}
    <p style="color:#000;font-weight:bold;font-size:20px">Congratulate! id: '{{id}}' is deleted</p>
  {{else}}
    <p style="color:#000;font-weight:bold;font-size:20px">Sorry. id: '{{id}}' is not deleted</p>
  {{/if}}
    <a href="/login">Return to your homepage</a><br>
    <a href="/login/delete">Delete another car</a>
</article>