
	<link rel="stylesheet" href="/public/css/private.css">
	<span class="home" style="cursor:pointer" onclick="openNav()">&#9776; Open</span>
	<div id="mySidenav" class="sidenav">
  	<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
	  		<a href="/login" >Main</a>
			<a href="/login/allcars">All Cars</a>
			<a href="/login/addcar" >Add Car</a>
			<a href="/login/delete" >Delete Car</a>
			<a href="/login/update" >Update Car</a>	
			<a href="/public/index.html" >Search Car</a>	
			<a href="/login/addoffer" >Add Offer</a>	
			<a href="/login/logout">Logout</a> 
	</div>
	<div class="user-panel">
		<h2>Logged in as: {{{user.firstname}}} {{{user.lastname}}}</h2>
		<div class="i-container" value="{{_id}}">
			<p>
				Total Number of Car: <input type="text" placeholder="{{total}}"readonly="readonly"><br>
				Total Number of New Car: <input type="text" placeholder="{{Number_newcar}}"readonly="readonly"><br>
				Total Number of Used Car: <input type="text" placeholder="{{Number_usedcar}}"readonly="readonly"><br>
				Total Number of Offer: <input type="text" placeholder="{{totaloffer}}"readonly="readonly">
			</p>
		</div>
	</div>
	
 <script src="/public/js/private.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
